<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taro.tusk" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.taro.tusk.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taro.tusk.Camera"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.taro.tusk.Closet"
            android:label="@string/title_activity_closet" >
        </activity>
        <activity
            android:name=".Tools.setLocation"
            android:label="SetLocation" >
        </activity>
        <activity
            android:name=".Weather"
            android:label="Weather" >
        </activity>

    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
